body {
    margin: 0;
    padding: 0;
    background: url('background.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.header {
    background-color: rgba(0,0,0,0.2);
    height: 68px;
    align-items: center;
}

#menu_container {
    display: inline-block;
    height: 56px;
    padding-top: 12px;
    width: 65px;
}

#menu_container:hover {
    background-color: rgba(0,0,0,0.25);
}

.menu {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px auto;
}

#header_name {
    display: inline-block;
    color: white;
    background-color: red;
    
}


