body {
    margin: 0;
    padding: 0;
    background-color: #434343;
    background: url('background.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.blue_highlight {
    color: #65AEF9;
}

.dark_highlight {
    color: #000000;
    font-weight: bold;
}

#header {
    background-color: rgba(0,0,0,0.2);
    padding: 8px;
    min-height: 65px;
}

#header_text {
    font-family: 'Oswald', serif;
    font-size: 36px;
    margin-top: 8px;
    color: white;
}

#menu_container {
    height: 52px;
    width: 58px;
    padding-top: 8px;
    padding-bottom: -8px;
}

#menu_container:hover {
    background-color: rgba(0,0,0,0.2);
}

#menu_container span {
    background-color: white;
    display: block;
    height: 6px;
    width: 80%;
    margin: 6px auto;
    border-radius: 4px;
}

#contact_container {
    position: absolute;
    right: 8px;
    top: 24px;
    padding: 4px;
}

#phone_icon {
    font-size: 24px;
    padding: 8px;
}

#email_icon {
    font-size: 24px;
    padding: 8px;
    padding-top: 2px;
}

#contact_container i {
    text-align: left;
}

#contact_info {
    color: white;
    display: inline-table;
}

#contact_text {
    display: table-cell;
    vertical-align: middle;
    color: white;
    font-family: 'Oswald', serif;
}

#intro_section {
    margin: 24px 18px;
    background-color: rgba(255,255,255,0.35);
    width: auto;
    text-align: center;
    padding: 8px;
}

#intro_section h2 {
    color: #434343;
    font-family: 'Oswald', serif;
    font-size: 32px;
    padding: 0px;
    margin: 0px;
}

.dark_separator {
    height: 2px;
    width: 80%;
    margin: 4px auto;
    background-color: #434343;
}

.content_container {
    color: #434343;
    padding: 12px 18px;
    font-family: 'Oswald', serif;
    font-size: 16px;
}

#intro_section .content_container {
    text-align: left;
}

#experience_section {
    margin: 24px 0px 0px 0px;
    background-color: #F3F0EC;
    width: auto;
    text-align: center;
    padding: 8px;
}

#experience_section h2 {
    color: #434343;
    font-family: 'Oswald', serif;
    font-size: 32px;
    padding: 0px;
    margin: 0px;
}

#experience_list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.experience_list_item {
    display: inline-block;
    text-align: left;
    margin: 8px;
    border-style: solid;
    border-width: 2px;
    border-color: #434343;
    padding: 8px;
    max-width: 70vh;
}

.experience_list_item h4 {
    font-size: 20px;
    margin: 0;
}

.experience_list_item h5 {
    font-size: 16px;
    color: #65AEF9;
    margin: 0;
}

.experience_item_content {
    font-size: 14px;
}

#skills_section {
    width: auto;
    text-align: center;
    padding: 8px;
}

#skills_section h2 {
    color: #F3F0EC;
    font-family: 'Oswald', serif;
    font-size: 32px;
    padding: 0px;
    margin: 0px;
}

.light_separator {
    height: 2px;
    width: 80%;
    margin: 4px auto;
    background-color: #F3F0EC;
}

#skills_section .content_container {
    color: #F3F0EC;
    padding: 12px 18px;
    font-family: 'Oswald', serif;
    font-size: 16px;
}

.light_small_circle {
    display: inline-block;
    border-style: solid;
    border-color: #f3f0ec;
    border-width: 3px;
    border-radius: 16px;
    height: 25px;
    width: 45px;
    text-align: center;
    line-height: 25px;
    margin: 12px;
}

.light_med_circle {
    display: inline-block;
    border-style: solid;
    border-color: #f3f0ec;
    border-width: 3px;
    border-radius: 16px;
    height: 35px;
    width: 85px;
    text-align: center;
    line-height: 35px;
    margin: 12px;
    font-size: 18px;
}

.light_big_circle {
    display: inline-block;
    border-style: solid;
    border-color: #f3f0ec;
    border-width: 3px;
    border-radius: 16px;
    height: 50px;
    width: 125px;
    text-align: center;
    line-height: 50px;
    margin: 12px;
    font-size: 24px;
}

#portfolio_section {
    margin: 0px 0px;
    background-color: #434343;
    width: auto;
    text-align: center;
    padding: 8px;
}

#portfolio_section h2 {
    color: #65AEF9;
    font-family: 'Oswald', serif;
    font-size: 32px;
    padding: 0px;
    margin: 0px;
}

.blue_separator {
    height: 2px;
    width: 80%;
    margin: 4px auto;
    background-color: #65AEF9;
}

#portfolio_section .content_container {
    color: #65AEF9;
    padding: 12px 18px;
    font-family: 'Oswald', serif;
    font-size: 16px;
}

.portfolio_icon {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: 4px 18px;
}

.portfolio_icon img{
    max-width: 100%;
}


