body {
    margin: 0;
    padding: 0;
    background: url('background.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

#header {
    background-color: rgba(0,0,0,0.2);
    align-items: center;
    padding: 8px;
}

#menu_container {
    height: 52px;
    width: 58px;
    padding-top: 8px;
    padding-bottom: -8px;
}

#menu_container:hover {
    background-color: rgba(0,0,0,0.2);
}

#menu_container span {
    background-color: white;
    display: block;
    height: 6px;
    width: 80%;
    margin: 6px auto;
    border-radius: 4px;
}

#intro_section {
    margin: 24px 18px;
    background-color: rgba(255,255,255,0.35);
    width: auto;
    text-align: center;
    padding: 8px;
}

#intro_section h2 {
    color: #434343;
    font-family: 'Oswald', serif;
    font-size: 32px;
    padding: 0px;
    margin: 0px;
}

.dark_separator {
    height: 2px;
    width: 80%;
    margin: 4px auto;
    background-color: #434343;
}

.content_container {
    color: #434343;
    padding: 12px 18px;
    font-family: 'Oswald', serif;
    font-size: 16px;
}


